@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

:root {
    --main-bg-color: rgb(70, 206, 195);
}

body {
    background-color: rgb(201, 246, 242);
    background-image: url(https://cdn.pixabay.com/photo/2017/02/18/01/26/background-2076334_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

* {
    margin: 0;
    padding: 0;
    font-family: arial;
    border: border-box;
}

header {
    height: 120px;
    width: 100%;

}

nav {
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    gap: 5px;
    height: 120px;
    width: 100%;
}

nav ul {
    height: 53px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 12px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;


}

nav ul li a:hover {
    background-color: rgb(162, 223, 218);
    text-align: end;
}


.logo {
    display: flex;
    align-items: center;
    padding: 43px;
    width: 90vw;
    justify-content: center;
}

.logo img {
    align-self: center;
    width: 200px;
    padding: 5px;
}

footer {
    background: var(--main-bg-color);
    color: white;
    height: 60px;
    width: 100%;


}

.flex-all-center {
    

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

.container {
    background-color: rgba(255, 255, 255, 0.586);
    padding: 40px;
    margin: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 585px;
    height: 160px;

}

.container h2 {
    margin-bottom: 20px;
    font-family: "Belanosima", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
}

#interaction_box label {
    font-size: 20px;
    display: block;
}

input {
    padding: 10px;
    margin: 20px;
    width: 400px;
}