:root {
    --main-bg-color: rgb(70, 206, 195);
}
* {
    margin: 0;
    padding: 0;
    font-family: arial;
    border: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}



header {
    height: 120px;
    width: 100%;
    margin-bottom: 2vh;
}

nav {
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    gap: 5px;
    height: 120px;
    width: 100%;
}

nav ul {
    height: 53px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 12px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;


}

nav ul li a:hover {
    background-color: rgb(162, 223, 218);
    text-align: end;
}


.logo {
    display: flex;
    align-items: center;
    padding: 43px;
    width: 90vw;
    justify-content: center;
}

.logo img {
    align-self: center;
    width: 200px;
    padding: 5px;
}
.accordiv{
    width: 50vw;
    margin: 2vw 1vw;
}
.flex_accord{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
 .flex_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
} 
.heading{
    display: flex;
    align-items: center;
    justify-content: center;

}
.heading p{
   
    font-weight: 1000;
    font-size: 7vh;
    margin: 0;
    font-family:'Times New Roman', Times, serif ;
}
footer {
    background: var(--main-bg-color);
    color: white;
    height: 60px;
    width: 100%;

}
.flex-all-center {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}