:root {
    --main-bg-color: rgb(70, 206, 195);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: arial;
    border: border-box;
}

header {
    height: 320px;
    width: 100%;

}

nav {
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    gap: 5px;
    height: 120px;
    width: 100%;
}

nav ul {
    height: 53px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 12px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;


}

nav ul li a:hover {
    background-color: rgb(162, 223, 218);
    text-align: end;
}


.logo {
    display: flex;
    align-items: center;
    padding: 43px;
    width: 90vw;
    justify-content: center;
}

.logo img {
    align-self: center;
    width: 200px;
    padding: 5px;
}


.profile-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 800px;
    
}

.profile-container h2 {
    margin-bottom: 20px;
}

#profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-page label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
}

#profile-page input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#profile-page button {
    padding: 10px 20px;
    background-color:  #52c8dd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#profile-page button:hover {
    background-color: #90d7e3;
}
footer {
    background: var(--main-bg-color);
    color: white;
    height: 60px;
    width: 100%;

}

.flex-all-center {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 800px;
    width: 100%;
}