* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar{
    background-color: rgb(78, 123, 229);
    display: flex;
    align-items: center;
    
    gap: 5px;
    height: 40px;
    width: 100%;
}
.logo{
    background-image: url(MedHarmony_Logo3.png);
    background-repeat: no-repeat;
    background-size:contain;
    height:45px;
    width: 50px;
}
.logo-text{
    font-weight: 900;
    color: white;
}
.logo-btn{
border-radius: 5px;
}